@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;900&display=swap");

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

input {
  padding: 10px;
  border: 3px solid #e6e6e6;
  background-color: #fff;
  font-size: 32px;
  line-height: 60px;
  height: 66px;
  padding: 0 15px;
}

button {
  height: 60px;
  background-color: #bbb;
  color: #fff;
  border-radius: 4px;
  text-transform: uppercase;
  cursor: pointer;
  font-size: 32px;
  font-family: inherit;
  border: none;
  pad: 10px 12px;
}
