.personal-info-form {
  display: grid;
  grid-template-areas:
    "name surname"
    "phone-number phone-number"
    "next-button next-button";
  gap: 15px;
}

#firstName {
  grid-area: name;
}

#lastName {
  grid-area: surname;
}

#phoneNumber {
  grid-area: phone-number;
}

#nextButton {
  grid-area: next-button;
}
